[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# testing
pytest = "*"
# vim
neovim = "*"
# debugging
ipdb = "*"
# linting
flake8 = "*"
# jupyter
nbresuse = "*"
jupyterlab = "==1.2"
# docs
sphinx = "*"
# easy envs
 pipenv-setup = "*"

[packages]
# numerical and data
numpy = "*"
pandas = "*"
"dask[complete]" = "*"
# plotting
jupyterthemes = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
cufflinks = "*"
# jupyter functionality
ipympl = "*"
ipywidgets = "*"
# io and compression
fastparquet = "*"
# feedback and usability
tqdm = "*"
argparse = "*"
# project specific dependencies
nemosis = {editable = true,path = "./NEMOSIS"}
src = {editable=true,path = "./source_code"}
